.zero{
   width: 100px;
   height: 100px;
   background-color: beige;
   color: black;
   border: 0cap;
   border-color: black;
   text-align: center;
   
}

.last{
   width: 100px;
   height: 100px;
   background-color: pink;
   color: black;
   border: 2cap;
}

